<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        {{ block "head" . }}
          {{ partial "head.html" . }}
        {{ end }}
      </head>
      
<body>
    {{ block "header" . }}
    {{ if eq .Lang "ru" }}
      {{ partial "header_ru.html" . }}
    {{ else if eq .Lang "en" }}
      {{ partial "header_en.html" . }}
    {{ else }}
      {{ partial "header_ru.html" . }}
    {{ end }}
  {{ end }}
    


    {{ block "footer" . }}
    {{ if eq .Lang "ru" }}
      {{ partial "footer_ru.html" . }}
    {{ else if eq .Lang "en" }}
      {{ partial "footer_en.html" . }}
    {{ else }}
      {{ partial "footer_ru.html" . }}
    {{ end }}
  {{ end }}
  
</body>


</html>
